* {
    font-family: 'Courier New', Courier, monospace;
    background-color: tan;
}

p {
    font-weight: 600;
    background-color: pink;
}

h1 {
    color: blue;
    font-size: 32px;
    text-align: center;
}

ul li a {
    color: blue;
    list-style: circle;
    font-size: 20px;
    font-weight: 800px;
}


.list-element {
    display: inline-block;
}

.list-element a {
    padding: 8px;
    margin: 8px auto;
    border: blue solid 4px;
}

.para-pad {
    background-color: pink;
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
}