* {
    font-family: 'Courier New', Courier, monospace;
    background-color: tan;
}

h1 {
    color: blue;
    font-size: 32px;
    text-align: center;
}

ul li a {
    color: blue;
    list-style: circle;
    font-size: 20px;
    font-weight: 800px;
}
