* {
    font-family: 'Courier New', Courier, monospace;
    background-color: tan;
}

p {
    font-weight: 600;
}

h1 {
    color: blue;
    font-size: 32px;
    text-align: center;
}

ul li a {
    color: blue;
    list-style: circle;
    font-size: 20px;
    font-weight: 800px;
}

.list {
    background-color: black;
    padding: 20px;
}

.list-element {
    display: inline-block;
    padding: 8px;
    margin: 8px auto;
    border: blue solid 4px;
}